<nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand fw-bold" >
      <span class="logo-text">Tax<span class="logo-highlight">Adda</span></span>
    </a>

    <!-- Toggler for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" >Home</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Calculator & Tools
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/percentage-calculator">Percentage Calculator</a></li>
            <li><a class="dropdown-item" >Income Tax Calculator</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" >Tax Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
